<li>
    {{name}}

    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}UN Devour!{{else}}DEVOUR!{{/if}}
    </button>
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        DELETE
    </button>
</li>